VITE_API_URL=http://localhost:8000/api
VITE_OPENROUTESERVICE_API_KEY=your_openrouteservice_api_key_here
VITE_OPENROUTESERVICE_SEARCH_URL=https://api.openrouteservice.org/geocode/search
VITE_OPENROUTESERVICE_REVERSE_URL=https://api.openrouteservice.org/geocode/reverse
VITE_OPENROUTESERVICE_DIRECTIONS_URL=https://api.openrouteservice.org/v2/directions/driving-car/geojson
